/*
Potrzebujesz uniwersalnych klas dla nagłówków, tytułów?
Będziemy umieszczać je właśnie tutaj!

Widzisz jakieś powtarzające się nagłówki czy style dla tekstu?
Warto przygotować odpowiednie klasy.
*/
// GLOBAL
* {
	color: $color-light;
	font-family: $font-family;
}

p {
	font-weight: $weight-regular;
}

.container {
	text-align: center;
}

// HEADER
.title {
	font-size: 100px;
	font-weight: $weight-black;
	letter-spacing: 60px;
	user-select: none; //Standard
	-moz-user-select: none; //Firefox
	-ms-user-select: none; //IE10+/Edge
	-webkit-user-select: none; //Safari
}

.subtitle {
	font-size: 20px;
	font-weight: $weight-bold;
	letter-spacing: 10px;
	user-select: none; //Standard
	-moz-user-select: none; //Firefox
	-ms-user-select: none; //IE10+/Edge
	-webkit-user-select: none; //Safari
}

// NAVIGATION
.container-nav {
	text-align: center;

	.nav .nav-ul {
		.nav-li {
			color: $color-mild;
			font-size: 17px;
			font-weight: $weight-regular;
			letter-spacing: 1.5px;

			&:hover {
				color: $color-light;
			}
		}

		.active {
			color: $color-light;
		}
	}
}

// HOME
.container-content {
	text-align: center;
}

.subscribe-wrapper {
	text-align: center;

	.subscribe-span {
		font-weight: $weight-semibold;
		font-size: 54px;
		letter-spacing: 12px;

		&-bold {
			font-size: 56px;
			font-weight: $weight-black;
		}
	}

	.subscribe-btn {
		font-size: 18px;
		font-weight: $weight-bold;
		letter-spacing: 3px;
	}

	.img-description {
		color: $color-main;
		font-size: 50px;
		letter-spacing: 13px;
		font-weight: $weight-black;

		.artist-lastname-red {
			color: $color-main
		}
	}

	.album {
		text-align: right;

		.album-name {
			font-size: 20px;
			color: $color-mild;
			letter-spacing: 3px;
			font-weight: $weight-bold;

			&::after {
				content: "\A";
				white-space: pre;
			}
		}

		.album-description {
			font-size: 20px;
			font-weight: $weight-semibold;
			letter-spacing: 4px;
		}
	}
}

// DISCOVER


// SEARCH
