// COLOR PALETTE
$color-main: #cf383e;

$color-light: #fff;
$color-mild: #bfbfbf;
$color-dark: #131313;

// FONTS
$font-family: 'Source Sans Pro', sans-serif;

// FONT WEIGHTS
// Sans Pro Black: 900
$font-black: 900;
// Sans Pro Bold: 700
$font-bold: 700;
// Sans Pro Semibold: 600
$font-semibold: 600;
// Sans Pro Regular: 400
$font-regular: 400;