// COLOR PALETTE
$color-main: #cf383e;

$color-light: #fff;
$color-mild: #bfbfbf;
$color-dark: #131313;

// FONTS
$font-family: 'Source Sans Pro', sans-serif;

// FONT WEIGHTS
// Sans Pro Black: 900
$weight-black: 900;
// Sans Pro Bold: 700
$weight-bold: 700;
// Sans Pro Semibold: 600
$weight-semibold: 600;
// Sans Pro Regular: 400
$weight-regular: 400;